body{
    background-color:rgb(250, 247, 240);
    font-family: "Times New Roman", sans-serif;
    font-size:14px;
}

.h1{
    color: RGB(48,132,234);
    text-align: center;
}

.p{
    font-family: "Times New Roman", sans-serif;
    font-size:16px;
}

.li{
    font-family: "Times New Roman", sans-serif;
    font-size:18px;
}
